.carousel-inner,
.carousel-item {
  height: 50vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  text-align: center;
}

.text-bone {
  color: rgb(80, 33, 2);
}

.snaefell-price {
  width: 49%;
  font-size: 1.1rem;
  color: rgb(217, 96, 14) !important;
  background-color: rgb(52, 51, 50);
  margin-top: 1rem;
  transform: translateX(50%);
}

.btn-snaefell {
  color: rgb(217, 96, 14) !important;
}

.gc-title {
  color: rgb(250, 237, 212);
}
